// abstracts/_variables.scss

// colors

$bg-color: #ffffff;
$primary: #335576;
$secondary: #fefaf5;
$accent: #db7a4e;

// layout

$site-width: 80rem;

// font

$logo-size: 1.026rem;

// sizes?

$header-height: 3.27rem;
$left-margin: 6.3vw;
$footer-padding: 0 0.9vw;
