// abstracts/_variables.scss

// colors

$bg-color: #ffffff;
$primary: #335576;
$secondary: #fefaf5;
$accent: #db7a4e;

// layout

$site-width: 80rem;

// font

$logo-size: 1.026rem;

// sizes?

$header-height: 3.27rem;
$left-margin: 6.3vw;
$footer-padding: 0 0.9vw;

// cards

$card-width: 15.9rem;
$card-height: 23.5rem;
$shadow: 0.25rem 0 0.25rem rgba(0, 0, 0, 0.2);
$border-radius: 0.313rem;
