// layout/

@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../core/reset" as *;

.footer {
  background-color: #fff0ed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__div {
    display: inline-block;
    vertical-align: top;
    margin: 3rem 2.25vw;
  }

  &__title {
    padding: $footer-padding;
    color: $primary;
    font-size: 1.375rem;
  }

  &__hours-container {
    display: flex;
    justify-content: space-evenly;
  }

  &__copy {
    color: $accent;
    padding: $footer-padding;
    font-size: 0.625rem;
    text-align: left;
    margin: 0 0 0.5rem 0;
  }

  &__link {
    color: $primary;
    text-decoration: none;
    padding: $footer-padding;
    font-size: 0.875rem;
    margin: 0;
    text-align: left;
  }

  &__hours {
    padding: 0.1rem 0.9vw 0 0.9vw;
    font-size: 0.875rem;
    margin: 0.563rem 0 0 0;
    text-align: left;
    color: $primary;
  }
}

.icon__img {
  height: 1.5rem;
  margin: 0.9rem 0.85vw;
}
