// layout/_header.scss

@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

header {
  display: flex;
  justify-content: space-between;
  background-color: $bg-color;
  height: fit-content;
  overflow: hidden;
}

.logo {
  margin: 0 0 0 5%;
  height: $header-height;
  padding: 0;
  position: relative;

  &__link {
    text-decoration: none;
    color: $primary;
  }

  &__text {
    margin: 0;
    display: inline-block;
    line-height: $header-height;
  }
}

.nav {
  margin: 0;

  &__list {
    @include horizontal-list;
    display: flex;
    padding: 0 5vw;
  }

  &__item {
    display: inline-block;
    height: $header-height;
    line-height: $header-height;
    padding: 0 1vw;
  }

  &__link {
    margin: 0;
    text-decoration: none;
    color: $primary;
    font-size: 1rem;
    font-weight: 600;
  }
}
