// layout/_header.scss

@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../core/index" as *;

header {
  position: relative;
  z-index: 10;
  max-width: $site-width;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: $bg-color;
  height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: $site-width;
}

.logo {
  margin-left: $left-margin;
  height: $header-height;
  padding: 0;
  position: relative;

  &__link {
    text-decoration: none;
    color: $primary;
  }

  &__text {
    margin: 0;
    display: inline-block;
    line-height: $header-height;
    font-size: $logo-size;
  }
}

.nav {
  margin: 0;

  &__list {
    @include horizontal-list;
    display: flex;
    padding: 0 5.25vw 0 0;
  }

  &__item {
    display: inline-block;
    line-height: $header-height;
    padding: 0 0.5vw;
  }

  &__link {
    margin: 0;
    text-decoration: none;
    color: $primary;
    font-size: 0.875rem;
    padding: 5px 0;
  }

  &__link--underline {
    border-bottom: 3.2px solid $accent;
  }
}
