@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../components/buttons" as *;
@use "../core/reset" as *;

.hero-section {
  background-color: $secondary;
  margin: 0;
  min-height: 33.27rem;
  max-height: fit-content;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3.27rem 0.08rem 1.2rem 0;

  &__left {
    max-width: 50%;
    min-width: 15rem;
    min-height: 33.27rem;
    max-height: fit-content;
  }

  &__title {
    color: $primary;
    margin-left: $left-margin;
    min-width: 15.5rem;
    margin-top: 6.25rem;
    font-size: 2.25rem;
    max-width: 31.25rem;
  }

  &__copy {
    max-width: 36.25rem;
    min-width: 5rem;
    margin-left: $left-margin;
    margin-top: 1.875rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  &__right {
    display: flex;
    margin: 0;
    max-width: 50%;
    min-width: 25rem;
    padding: 0.75rem 0;
    position: relative;
    min-height: 33.27rem;
    max-height: fit-content;
  }

  &__img {
    max-height: 22.25rem;
    display: block;
    margin: auto;
    position: absolute;
    left: 53.1%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
  }
}

.reco-section__title {
  margin-left: $left-margin;
  height: $header-height;
  color: $primary;
  display: inline-block;
  line-height: $header-height;
  font-size: 1.359rem;
  margin-top: 2.188rem;
}

.reco-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reco-card {
  width: 15.9rem;
  height: 23.5rem;
  border-radius: 0.313rem;
  box-shadow: 0.25rem 0 0.25rem rgba(0, 0, 0, 0.2);
  margin: 0 1.3vw 5rem 1.3vw;
  overflow: hidden;
  position: relative;
  border: 0.063rem solid rgba(0, 0, 0, 0.2);

  &__img {
    height: 100%;
    width: 100%;
  }

  &__title {
    color: $secondary;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    margin: 0;
  }
}
