@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../components/buttons" as *;
@use "../core/reset" as *;

.hero-section {
  background-color: $secondary;
  margin: 0;
  height: 33.27rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 0.08rem 1.2rem 0;

  &__left {
    width: 50%;
  }

  &__title {
    color: $primary;
    margin-left: $left-margin;
    max-width: 380px;
    margin-top: 100px;
    font-size: 36px;
    max-width: 500px;
  }

  &__copy {
    max-width: 580px;
    margin-left: $left-margin;
    margin-top: 30px;
    font-size: 14px;
    line-height: 20px;
  }

  &__right {
    display: flex;
    margin: 0;
    width: 50%;
    padding: 0.75rem 0;
    overflow: hidden;
    position: relative;
  }

  &__img {
    height: 22.25rem;
    display: block;
    margin: auto;
    position: absolute;
    left: 53.1%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
  }
}

.reco-section__title {
  margin-left: $left-margin;
  height: $header-height;
  color: $primary;
  display: inline-block;
  line-height: $header-height;
  font-size: 21.75px;
  margin-top: 35px;
}

.reco-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reco-card {
  width: 15.9rem;
  height: 23.5rem;
  border-radius: 5px;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.2);
  margin: 0 1.3vw 5rem 1.3vw;
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);

  &__img {
    height: 100%;
    width: 100%;
  }

  &__title {
    color: $secondary;
    position: absolute;
    bottom: 16px;
    right: 16px;
    margin: 0;
  }
}
