@use "../abstracts" as *;
@use "../abstracts/mixins" as *;
@use "../components/buttons" as *;
@use "../core/index" as *;

.hero-section {
  background-color: $secondary;
  margin: 0;
  height: 30rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 0 0.08rem 1.2rem 0;

  &__left {
    width: 50%;
  }

  &__title {
    color: $primary;
    margin-left: $left-margin;
    max-width: 380px;
    margin-top: 100px;
    font-size: 36px;
    max-width: 500px;
  }

  &__copy {
    max-width: 580px;
    margin-left: $left-margin;
    margin-top: 30px;
    font-size: 14px;
    line-height: 20px;
  }

  &__right {
    display: flex;
    margin: 0;
    width: 50%;
    padding: 0.75rem 0;
    overflow: hidden;
    position: relative;
  }

  &__img {
    height: 22.25rem;
    display: block;
    margin: auto;
    position: absolute;
    left: 53.1%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
  }
}

.reco-section__title {
  margin: auto;
  text-align: center;
}

.reco-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reco-card {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  min-width: 20.625rem;
  max-width: 21.875rem;
  min-height: 27.5rem;
  max-height: 28.75rem;
  border-radius: 10px;
  box-shadow: 0 0.625rem 0.563rem -0.063rem rgba(0, 0, 0, 0.25);
  /* padding: 2.5rem 0; */
  margin: 2.5rem 2.5rem;
  //   background-color: white;
  overflow: hidden;

  &__image {
    height: 100%;
  }

  &__title {
    text-align: left;
    margin: 0;
  }
}
