@use "../abstracts/variables" as *;
@use "../core/reset" as *;

.button {
  background-color: $accent;
  color: $bg-color;
  font-size: 16px;
  font-weight: 400;
  width: stretch;
  height: stretch;
  border-radius: 25px;
  display: inline-block;
  cursor: pointer;

  &__link {
    display: inline-block;
    width: 158px;
    height: 36px;
    margin-left: $left-margin;
    margin-top: 14px;
  }
}
