* {
  box-sizing: border-box;
}

body {
  max-width: 80rem;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
}

.button {
  display: flex;
  width: 9.875rem;
  height: 2.25rem;
  margin-left: 6.3vw;
  margin-top: 0.875rem;
  background-color: #db7a4e;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 1.563rem;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
  justify-content: center;
}
.button:hover {
  opacity: 0.6;
  transition: 0.25s;
  border: 0.1rem solid rgba(51, 85, 118, 0.6);
}

header {
  position: relative;
  z-index: 10;
  max-width: 80rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  height: 3.27rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 80rem;
}

.logo {
  margin-left: 6.3vw;
  height: 3.27rem;
  padding: 0;
  position: relative;
}
.logo__link {
  text-decoration: none;
  color: #335576;
}
.logo__text {
  margin: 0;
  display: inline-block;
  line-height: 3.27rem;
  font-size: 1.026rem;
}

.nav {
  margin: 0;
}
.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  padding: 0 5.25vw 0 0;
}
.nav__list li {
  display: inline-block;
  margin: 0;
}
.nav__item {
  display: inline-block;
  line-height: 3.27rem;
  padding: 0 0.5vw;
}
.nav__link {
  margin: 0;
  text-decoration: none;
  color: #335576;
  font-size: 0.875rem;
  padding: 0.313rem 0;
}
.nav__link:hover {
  border-bottom: 0.2rem solid #db7a4e;
  transition: 0.15s;
}
.nav__link--underline {
  border-bottom: 0.2rem solid #db7a4e;
}

.footer {
  background-color: #fff0ed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer__div {
  display: inline-block;
  vertical-align: top;
  margin: 3rem 2.25vw;
}
.footer__title {
  padding: 0 0.9vw;
  color: #335576;
  font-size: 1.375rem;
}
.footer__hours-container {
  display: flex;
  justify-content: space-evenly;
}
.footer__copy {
  color: #db7a4e;
  padding: 0 0.9vw;
  font-size: 0.625rem;
  text-align: left;
  margin: 0 0 0.5rem 0;
}
.footer__link {
  color: #335576;
  text-decoration: none;
  padding: 0 0.9vw;
  font-size: 0.875rem;
  margin: 0;
  text-align: left;
}
.footer__link:hover {
  color: #db7a4e;
  transition: 0.25s;
}
.footer__hours {
  padding: 0.1rem 0.9vw 0 0.9vw;
  font-size: 0.875rem;
  margin: 0.563rem 0 0 0;
  text-align: left;
  color: #335576;
}

.icon__img {
  height: 1.5rem;
  margin: 0.9rem 0.85vw;
}
.icon__img:hover {
  transform: scale(1.5);
  transition: 0.25s;
}

.destination-section {
  overflow: hidden;
}

.destination-hero {
  height: 42.5rem;
  padding: 3.27rem 0 0 0;
  background-position: 50% 47.5%;
  background-size: 80rem 130rem;
}
.destination-hero--hawaii {
  background-image: url(../../assets/images/hawaii.jpg);
}
.destination-hero--iceland {
  background-image: url(../../assets/images/iceland.jpg);
}
.destination-hero--greece {
  background-image: url(../../assets/images/greece.jpg);
}
.destination-hero__title {
  color: #ffffff;
  font-size: 4.188rem;
  margin: 3.5rem 5.75rem;
  display: inline-block;
}
.destination-hero__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 37.5rem;
}

.destination-card {
  width: 15.9rem;
  height: 23.5rem;
  border-radius: 0.313rem;
  box-shadow: 0.25rem 0 0.25rem rgba(0, 0, 0, 0.2);
  margin: 0 1.3vw 5rem 1.3vw;
  overflow: hidden;
  border: 0.063rem solid rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.card-item {
  display: inline-block;
  margin: 0.5rem auto;
  background-color: #fefaf5;
  width: 13rem;
  height: 3rem;
}
.card-item__text {
  display: block;
  text-align: center;
}
.card-item__text--title {
  border-bottom: 0.313rem solid black;
}
.card-item--title {
  background-color: #ffffff;
  font-weight: 800;
}

.card-list {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 23.5rem;
  padding: 0;
}

.card-list-item {
  margin: 0.5rem auto;
  height: 3rem;
  width: 13rem;
  text-align: center;
  background-color: #fefaf5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-list-item--title {
  background-color: #ffffff;
  border-bottom: 0.313rem solid black;
  height: 1.5rem;
  margin: 1.5rem auto 1rem auto;
}

.hero-section {
  background-color: #fefaf5;
  margin: 0;
  min-height: 33.27rem;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3.27rem 0.08rem 1.2rem 0;
}
.hero-section__left {
  max-width: 50%;
  min-width: 15rem;
  min-height: 33.27rem;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
.hero-section__title {
  color: #335576;
  margin-left: 6.3vw;
  min-width: 15.5rem;
  margin-top: 6.25rem;
  font-size: 2.25rem;
  max-width: 31.25rem;
}
.hero-section__copy {
  max-width: 36.25rem;
  min-width: 5rem;
  margin-left: 6.3vw;
  margin-top: 1.875rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.hero-section__right {
  display: flex;
  margin: 0;
  max-width: 50%;
  min-width: 25rem;
  padding: 0.75rem 0;
  position: relative;
  min-height: 33.27rem;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
.hero-section__img {
  max-height: 22.25rem;
  display: block;
  margin: auto;
  position: absolute;
  left: 45%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
}

.reco-section__title {
  margin-left: 6.3vw;
  height: 3.27rem;
  color: #335576;
  display: inline-block;
  line-height: 3.27rem;
  font-size: 1.359rem;
  margin-top: 2.188rem;
}

.reco-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reco-card {
  width: 15.9rem;
  height: 23.5rem;
  border-radius: 0.313rem;
  box-shadow: 0.25rem 0 0.25rem rgba(0, 0, 0, 0.2);
  margin: 0 1.3vw 5rem 1.3vw;
  overflow: hidden;
  position: relative;
  border: 0.063rem solid rgba(0, 0, 0, 0.2);
  display: flex;
}
.reco-card:hover {
  border: 0.25rem solid rgba(219, 122, 78, 0.6);
  transition: 0.1s;
}
.reco-card__img {
  height: 100%;
  width: 100%;
  margin: auto;
  transition: 0.25s;
  position: absolute;
}
.reco-card__img:hover {
  transform: scale(1.125);
  margin: auto;
  opacity: 0.6;
}
.reco-card__title {
  color: #fefaf5;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  margin: 0;
}/*# sourceMappingURL=main.css.map */