* {
  border: 0.001px dashed rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
}

body {
  max-width: 80rem;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
}

.button {
  background-color: #db7a4e;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
  border-radius: 25px;
  display: inline-block;
  cursor: pointer;
  border: none;
}
.button__link {
  display: inline-block;
  width: 158px;
  height: 36px;
  margin-left: 6.3vw;
  margin-top: 14px;
}

header {
  position: relative;
  z-index: 10;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  height: 3.27rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  margin-left: 6.3vw;
  height: 3.27rem;
  padding: 0;
  position: relative;
}
.logo__link {
  text-decoration: none;
  color: #335576;
}
.logo__text {
  margin: 0;
  display: inline-block;
  line-height: 3.27rem;
  font-size: 1.026rem;
}

.nav {
  margin: 0;
}
.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  padding: 0 5.25vw 0 0;
}
.nav__list li {
  display: inline-block;
  margin: 0;
}
.nav__item {
  display: inline-block;
  line-height: 3.27rem;
  padding: 0 0.5vw;
}
.nav__link {
  margin: 0;
  text-decoration: none;
  color: #335576;
  font-size: 0.875rem;
  padding: 5px 0;
}
.nav__link--underline {
  border-bottom: 3.2px solid #db7a4e;
}

.footer {
  background-color: #fff0ed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer__div {
  display: inline-block;
  vertical-align: top;
  margin: 3rem 2.25vw;
}
.footer__title {
  padding: 0 0.9vw;
  color: #335576;
  font-size: 22px;
}
.footer__hours-container {
  display: flex;
  justify-content: space-evenly;
}
.footer__copy {
  color: #db7a4e;
  padding: 0 0.9vw;
  font-size: 10px;
  text-align: left;
  margin: 0 0 0.5rem 0;
}
.footer__link {
  color: #335576;
  text-decoration: none;
  padding: 0 0.9vw;
  font-size: 14px;
  margin: 0;
  text-align: left;
}
.footer__hours {
  padding: 0 0.9vw;
  font-size: 14px;
  margin: 10.25px 0 0 0;
  text-align: left;
  color: #335576;
}

.icon__img {
  height: 24px;
  margin: 15px 0.85vw;
}

.hero-section {
  background-color: #fefaf5;
  margin: 0;
  height: 33.27rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 3.27rem 0.08rem 1.2rem 0;
}
.hero-section__left {
  width: 50%;
}
.hero-section__title {
  color: #335576;
  margin-left: 6.3vw;
  max-width: 380px;
  margin-top: 100px;
  font-size: 36px;
  max-width: 500px;
}
.hero-section__copy {
  max-width: 580px;
  margin-left: 6.3vw;
  margin-top: 30px;
  font-size: 14px;
  line-height: 20px;
}
.hero-section__right {
  display: flex;
  margin: 0;
  width: 50%;
  padding: 0.75rem 0;
  overflow: hidden;
  position: relative;
}
.hero-section__img {
  height: 22.25rem;
  display: block;
  margin: auto;
  position: absolute;
  left: 53.1%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
}

.reco-section__title {
  margin-left: 6.3vw;
  height: 3.27rem;
  color: #335576;
  display: inline-block;
  line-height: 3.27rem;
  font-size: 21.75px;
  margin-top: 35px;
}

.reco-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reco-card {
  width: 15.9rem;
  height: 23.5rem;
  border-radius: 5px;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.2);
  margin: 0 1.3vw 5rem 1.3vw;
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.reco-card__img {
  height: 100%;
  width: 100%;
}
.reco-card__title {
  color: #fefaf5;
  position: absolute;
  bottom: 16px;
  right: 16px;
  margin: 0;
}/*# sourceMappingURL=main.css.map */