// core/_reset.scss

* {
  border: 0.001px dashed rgba(0, 0, 0, 0);
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
}
